<link rel="stylesheet" type="text/css" href="/public/stylesheets/store.css">
<div class="main-content">
	<div class="title">
		Gastos Médicos Mayores
	</div>

	<div class="main">
		<div class="widget"> <img
				src="https://image.freepik.com/foto-gratis/formas-familiares-carton-estetoscopio-sobre-fondo-rojo_23-2148439050.jpg">
				<button class="btn btn-primary shop-item-button" type="button">Adquirir por 50 puntos</button>
		</div>
		<div class="widget">
			<div class="title">Caracteristicas</div>
			<div class="chart">
				{{!-- <img src="https://www.laguiadelvaron.com/wp-content/uploads/2016/07/yee.jpg"> --}}
				<ul>
					<li>Ambulancia gratuita</li>
					<li>Consultas medicas preferenciales</li>
					<li>Citas</li>
					<li>Ambulancia gratuita</li>
					<li>Consultas medicas preferenciales</li>
					<li>Citas</li>
					<li>Ambulancia gratuita</li>
					<li>Consultas medicas preferenciales</li>
					<li>Citas</li>
					<li>Ambulancia gratuita</li>
					<li>Consultas medicas preferenciales</li>
					<li>Citas</li>
					<li>Ambulancia gratuita</li>
					<li>Consultas medicas preferenciales</li>
					<li>Citas</li>
					<li>Ambulancia gratuita</li>
					<li>Consultas medicas preferenciales</li>
					<li>Facturas</li>
				</ul>
			</div>
		</div>

		<div class="widget">
			<div class="title">Requisitos</div>
			<div class="chart">
				{{!-- <img src="https://www.laguiadelvaron.com/wp-content/uploads/2016/07/yee.jpg"> --}}
				<ul>
					<li>Identificacion oficial</li>
					<li>Comprobante de domicilio</li>
					<li>2 Referencias</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="chart"> </div>
</div>