
<div class="main-content">
    <div class="title">
        Beneficios
    </div>
    <div class="main">
        <div class="widget">
            <div class="title">Gastos Médicos Mayores</div>
            <div class="chart">
                <a href="/gmm"> <img src="https://image.freepik.com/foto-gratis/formas-familiares-carton-estetoscopio-sobre-fondo-rojo_23-2148439050.jpg"> </a> 
            </div>
        </div>
        <div class="widget">
            <div class="title">Seguro de Vida e Invalidez</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/mano-poniendo-cubos-madera-medicina-sanitaria-icono-hospital-cuadro-azul-negocio-e-inversion-seguros-salud_50039-1689.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Accidentes en Viajes</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/concepto-vacaciones-avion-bus_23-2148169835.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Prima de Antigüedad</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/concepto-confrontacion-criptomonedas-bitcoin-dolar-iconos-bloques-madera_102583-1986.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Pensiones</div>
            <div class="chart">
                <img src="https://img.freepik.com/foto-gratis/ahorro-alcancia-moneda-tailandesa-1000-baht-billetes-dinero-tailandia-reloj-despertador-campana-sobre-fondo-azul-concepto-gestion-empresarial-financiera-tiempo_9555-1032.jpg?size=626&ext=jpg&ga=GA1.2.1051416792.1603215119">
            </div>
        </div>
        <div class="widget">
            <div class="title">Programa de Bienestar</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/estetoscopio-diario-espiral-espectaculo-planta-suculenta-laptop-sobre-fondo-verde_23-2148213956.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Médicos y ambulancia a domicilio</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/botiquin-primeros-auxilios-estetoscopio-portapapeles-sobre-fondo-blanco_23-2147874914.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Servicios Dentales</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/chequeo-instrumentos-odontologia-equipos-higiene-dental-espejo-bucal-salud-bucal_73523-3389.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Servicios ópticos</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/accesorios-cuidado-ojos-sobre-fondo-naranja_23-2148320305.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Plan funerario y de repatriación</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/ramo-delicadas-rosas-sobre-fondo-blanco_115509-104.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Descuento por Nómina</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/mano-sujetando-tarjeta-credito-sobre-fondo-rojo_23-2148317915.jpg">
            </div>
        </div>
        <div class="widget">
            <div class="title">Plan flexible de opción múltiple</div>
            <div class="chart">
                <img src="https://image.freepik.com/foto-gratis/bloc-notas-compilar-plan-dieta-botella-kefir-envuelta-regla-pared-papel-color-vista-superior_175682-1524.jpg">
            </div>
        </div>
    </div>
</div>